<div class="container">
  <h2><%= @mountain.name %> Webcam</h2>
  <img src = "<%= @webcam_image %>"><br><br>
  <iframe width="800" height="600" src="<%=@timelaspe_link%>"></iframe><br><br>
  <a href="<%= @live_video_link %>">VIDEO</a>
</div>
