<div class="container">
	<ul class="no-bullets">
		<li>Name: <%= "#{@user.first_name} #{@user.last_name}"%></li>
		<li>Location: <%= @user.location %></li>
		<li>Email: <%= @user.email %></li>
	</ul>
</div>